<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/vendors/form.css">
        <script src="https://use.fontawesome.com/7b85ef11c4.js"></script>

        <title>Lyft</title>
    </head>
    <body>
        <main class="container-fluid">
            <div class="row align-items-center">
                <a class="btn col-1" href="../index.html" role="button"><i class="fa fa-chevron-left fa-3x"></i></a>
                <div class="col-11">
                    <div class="row">
                        <h5 class="col-12 text-center" >Sing Up</h5>
                        <p class="col-12 text-center">Join now for free ride credit</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <form id="phone_form" class="col-12">
                    <div class="row">
                        <div class="form-group col-3">
                            <select class="custom-select custom-select-sm mt-4">
                                <option selected></option>
                                <option value="mexico"><img src="../assets/images/mexicoicon.jpg" alt="" class="icon-size"></option>
                                <option value="colombia">Colombia</option>
                                <option value="peru">Peru</option>
                            </select>
                        </div>
                        <div class="form-group col-9">
                            <label for=""></label>
                            <input type="number" class="form-control" id="phone_input" aria-describedby="emailHelp" placeholder="55-555-555-55">
                            <small id="phone" class="form-text text-muted">We'll send a text to verify your phone.</small>
                        </div>

                    </div>
                    <button id="btn_phone" type="submit" class="btn btn-block" disabled>Next</button>
                </form>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../js/vendors/form.js"></script>
    </body>
</html>